Analyse Data
File directory : 
- /datasets

Files: 
- sample_creditcard_txn.txt
- sample_currentacct_txn.txt
- sample_cust_demog.txt
- sample_cust_dna.txt
- sample_savingacct_txn.txt

Python Version:
- 3.8 and above

Required package: 
- pandas
- numpy
- iso18245


Installation Guide:
- pip install pandas
- pip install numpy
- pip install iso18245


Data Dictionary:
- data-analyse\PersonalizationContent_DataDictionary.xlsx

In [84]:
import pandas as pd 
import numpy as np 
import iso18245
import os

In [85]:
# MCC Codes Range
# 0000	0699	Reserved
# 0700	0999	Agricultural services
# 1000	1499	Reserved
# 1500	2999	Contracted services
# 3000	3999	Reserved for private use
# 4000	4799	Transportation
# 4800	4999	Utilities
# 5000	5599	Retail outlets
# 5600	5699	Clothing outlets
# 5700	5999	Miscellaneous outlets
# 6000	7299	Service providers
# 7300	7529	Business services
# 7530	7799	Repair services
# 7800	7999	Amusement and entertainment
# 8000	8999	Professional services and membership organizations
# 9000	9199	Reserved for ISO use
# 9200	9402	Government services
# 9403	9999	Other

def get_mcc_details(mcc_codes):
    # Return [0] range description, [1] description
    return iso18245.get_mcc(mcc_codes).range.description, iso18245.get_mcc(mcc_codes).usda_description

def extractData(file):
    target_file = open(file, "r")
    file_content = target_file.readlines()

    header = file_content[0].split('\t')
    content_details = [line.split('\t') for line in file_content[1:]]
    df = pd.DataFrame(content_details,columns=header)
    return df

In [83]:
cc_df = extractData('../datasets/sample_creditcard_txn.txt')
ca_df = extractData('../datasets/sample_currentacct_txn.txt')
sa_df = extractData('../datasets/sample_savingacct_txn.txt')
cust_df = extractData('../datasets/sample_cust_demog.txt')
dna_df = extractData('../datasets/sample_cust_dna.txt')
cc_df

,cust_number,account_number,COUNTRY_CODE,MERCH_CATEGORY,POST_DATE,TRANSACTION_CODE,TRANSACTION_DATE,TRAN_DESC_DETAIL,CARD_TYPE,POS_MODE,...,D_TOKEN_NUMBER,D_REQUESTOR_ID,D_INTERNET_TRANSACTION_TYPE,DT_ACC_OPEN,Product_Description,Individual_Corporate,Product,ENTITY,retail2,group\n
0,1,1-1,MY,05311,30/04/2021,4000,29/04/2021,AEON DEPT-NILAI NILAI MY,077,07,...,,,,13/08/2020,RHB VISA DEBIT-I,Individual,Debit Card,Islamic,RHB Debit Card - I,\n
1,3,3-2,MY,08099,09/06/2021,4000,08/06/2021,MEDISAVERS PETALING JAYAMY,160,01,...,,,,13/12/2016,RHB DEBIT CARD - INSTANT,Individual,Debit Card,Conventional,RHB Debit Card,\n
2,3,3-2,MY,08099,09/04/2021,4000,08/04/2021,MEDISAVERS PETALING JAYAMY,160,01,...,,,,13/12/2016,RHB DEBIT CARD - INSTANT,Individual,Debit Card,Conventional,RHB Debit Card,\n
3,3,3-2,MY,08099,09/05/2021,4000,08/05/2021,MEDISAVERS PETALING JAYAMY,160,01,...,,,,13/12/2016,RHB DEBIT CARD - INSTANT,Individual,Debit Card,Conventional,RHB Debit Card,\n
4,3,3-2,MY,08099,09/03/2021,4000,08/03/2021,MEDISAVERS PETALING JAYAMY,160,01,...,,,,13/12/2016,RHB DEBIT CARD - INSTANT,Individual,Debit Card,Conventional,RHB Debit Card,\n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400812,10000,1E4-7722,MY,05912,08/08/2021,4000,07/08/2021,BIG PHARMACY-TMN MIDAH KUALA LUMPUR MY,170,07,...,,,,08/02/2018,RHB VISA DEBIT CHIBI SUPERMAN,Individual,Debit Card,Conventional,RHB VISA Debit Card,\n
400813,10000,1E4-7722,MY,05912,08/08/2021,4000,07/08/2021,BIG PHARMACY-TMN MIDAH KUALA LUMPUR MY,170,07,...,,,,08/02/2018,RHB VISA DEBIT CHIBI BATMAN,Individual,Debit Card,Conventional,RHB VISA Debit Card,\n
400814,10000,1E4-7722,MY,05912,08/08/2021,4000,07/08/2021,BIG PHARMACY-TMN MIDAH KUALA LUMPUR MY,170,07,...,,,,08/02/2018,RHB VISA DEBIT JL WONDER WOMAN,Individual,Debit Card,Conventional,RHB VISA Debit Card,\n
400815,10000,1E4-7722,MY,05912,08/08/2021,4000,07/08/2021,BIG PHARMACY-TMN MIDAH KUALA LUMPUR MY,170,07,...,,,,08/02/2018,RHB VISA DEBIT JL SUPERMAN,Individual,Debit Card,Conventional,RHB VISA Debit Card,\n
400816,10000,1E4-7722,MY,05912,08/08/2021,4000,07/08/2021,BIG PHARMACY-TMN MIDAH KUALA LUMPUR MY,170,07,...,,,,08/02/2018,RHB VISA DEBIT JL BATMAN,Individual,Debit Card,Conventional,RHB VISA Debit Card,\n

In [86]:
# Filter out the columns with useful data

cc_df = cc_df[['cust_number', 'account_number', 'MERCH_CATEGORY',
               'COUNTRY_CODE', 'TRANSACTION_DATE', 'TRANSACTION_AMT', 'TRAN_DESC_DETAIL']].copy()
ca_df = ca_df[['cust_number','account_number','D_TRAN_DESC1','D_TRAN_TYPE','D_TRAN_AMOUNT','D_CONTROL_1','D_PREVIOUS_DAY_BAL','D_3RD_PARTY_BANK_NAME','D_SENDER_RECIPIENT_NAME','D_RECIPIENT_REFERENCE','D_TRANSACTION_DATE','RHBNOW','ACCOUNT_OPEN_DATE\n']].copy()
sa_df = sa_df[['cust_number','account_number','D_TRAN_DESC1','D_TRAN_TYPE','D_TRAN_AMOUNT','D_CONTROL_1','MOB','D_3RD_PARTY_BANK_NAME','D_SENDER_RECIPIENT_NAME','D_RECIPIENT_REFERENCE','D_TRANSACTION_DATE','RHBNOW','ACCOUNT_OPEN_DATE\n']].copy()

In [87]:
def limit_output(df, n):
    return df[:n]

cc_df = limit_output(cc_df, 1000)
ca_df = limit_output(ca_df, 1000)
sa_df = limit_output(sa_df, 1000)

In [88]:
# Convert data type from string to double
def convert_df_str_flt(df,column):
    df[column] = pd.to_numeric(df[column],errors='coerce')

convert_df_str_flt(cc_df,'TRANSACTION_AMT')

In [89]:
# For credit card data to display merchant range and description

merch_cat = []
merch_des = []


for merch in cc_df['MERCH_CATEGORY']:
    if(merch != '' and merch != '00000'):
        merch = merch[1:]
        merch_cat.append(get_mcc_details(merch)[0])
        merch_des.append(get_mcc_details(merch)[1])
    else:
        merch_cat.append('Other Expenses')
        merch_des.append('Other Expenses')

cc_df['MERCH_RANGE'] = merch_cat
cc_df['MERCH_DESC'] = merch_des

# For indicating credit card transaction is from domestic or international
foreign = []
for c_code in cc_df['COUNTRY_CODE']:
    if(c_code != '#'):
        if(c_code != 'MY'):
            foreign.append('FOREIGN')
        else:
            foreign.append('LOCAL')
    else:
        foreign.append('Invalid')
cc_df['FOREIGN'] = foreign

In [90]:
# Keywords to identify user transaction usage 
# Add tag to user and provide customized recommendation later

# Add related keyword in keywords column according to credit cards benefits
keywords_list = ['MYEG', 'SHOPEE','GOLF','AEON']

def keywords_classification(datalist,keywords_list):
    tags = []
    keywords = ' '
    for i in range(len(datalist)):
        data = datalist[i]
        for words in keywords_list:
            if data.upper().find(words) != -1:
                keywords = words
        tags.insert(i,keywords)
        keywords = ''
    return tags

cc_df['KEYWORDS'] = keywords_classification(cc_df['TRAN_DESC_DETAIL'],keywords_list)
cc_df

,cust_number,account_number,MERCH_CATEGORY,COUNTRY_CODE,TRANSACTION_DATE,TRANSACTION_AMT,TRAN_DESC_DETAIL,MERCH_RANGE,MERCH_DESC,FOREIGN,KEYWORDS
0,1,1-1,05311,MY,29/04/2021,138.60,AEON DEPT-NILAI NILAI MY,Retail outlets,Department Stores,LOCAL,AEON
1,3,3-2,08099,MY,08/06/2021,379.50,MEDISAVERS PETALING JAYAMY,Professional services and membership organizat...,Medical Services and Health Practitioners (Not...,LOCAL,
2,3,3-2,08099,MY,08/04/2021,379.50,MEDISAVERS PETALING JAYAMY,Professional services and membership organizat...,Medical Services and Health Practitioners (Not...,LOCAL,
3,3,3-2,08099,MY,08/05/2021,379.50,MEDISAVERS PETALING JAYAMY,Professional services and membership organizat...,Medical Services and Health Practitioners (Not...,LOCAL,
4,3,3-2,08099,MY,08/03/2021,379.50,MEDISAVERS PETALING JAYAMY,Professional services and membership organizat...,Medical Services and Health Practitioners (Not...,LOCAL,
...,...,...,...,...,...,...,...,...,...,...,...
995,26,26-21,,#,24/12/2021,5.50,DIAL-AN-INSTALMENT : 05/06 -INT,Other Expenses,Other Expenses,Invalid,
996,26,26-21,05999,#,24/12/2021,385.71,DIAL-AN-INSTALMENT : 05/06,Miscellaneous outlets,Miscellaneous and Specialty Retail Stores,Invalid,
997,26,26-21,,#,26/02/2021,30.00,PYMT VIA SA/CA ACCOUNT-THK YOU 0907,Other Expenses,Other Expenses,Invalid,
998,26,26-21,,#,28/02/2021,95.60,PYMT VIA SA/CA ACCOUNT-THK YOU 0907,Other Expenses,Other Expenses,Invalid,
999,26,26-21,05812,MY,27/02/2021,47.70,WONG SOLO-BANGI B.B.BANGI MY,Miscellaneous outlets,Eating places and Restaurants,LOCAL,

In [91]:
# Function to identify user transaction on different range
def transaction_level(txn_amt_list):
    low = 500
    middle = 1500 
    txn_tags = []
    for txn_amt in txn_amt_list:
        txn_amt = float(txn_amt)
        if txn_amt < low:
            txn_tags.append('LOW')
        elif txn_amt < middle:
            txn_tags.append('MIDDLE')
        else:
            txn_tags.append('HIGH')
                
    return txn_tags

cc_df['SPEND'] = transaction_level(cc_df['TRANSACTION_AMT'])
ca_df['SPEND'] = transaction_level(ca_df['D_TRAN_AMOUNT'])
sa_df['SPEND'] = transaction_level(sa_df['D_TRAN_AMOUNT'])

In [92]:
# Compare previous amount and current amount to identify if transaction is a over used transaction

ca_df['D_TRAN_AMOUNT'] = pd.to_numeric(ca_df['D_TRAN_AMOUNT'],errors='coerce')
ca_df['D_PREVIOUS_DAY_BAL'] = pd.to_numeric(ca_df['D_PREVIOUS_DAY_BAL'],errors='coerce')

compare_df_txn = np.where(ca_df['D_TRAN_AMOUNT'] > (ca_df['D_PREVIOUS_DAY_BAL'] / 2), 'OVER', 'NORMAL')
ca_df['TXN'] = compare_df_txn

In [102]:
# Calculate the date from today
import datetime 
today = datetime.date.today()

for i,row in cc_df.iterrows():
    date_diff = today - datetime.datetime.strptime(row['TRANSACTION_DATE'],'%d/%m/%Y').date()
    cc_df.loc[i,'TIME'] = date_diff.days
cc_df

,cust_number,account_number,MERCH_CATEGORY,COUNTRY_CODE,TRANSACTION_DATE,TRANSACTION_AMT,TRAN_DESC_DETAIL,MERCH_RANGE,MERCH_DESC,FOREIGN,KEYWORDS,SPEND,TIME
0,1,1-1,05311,MY,29/04/2021,138.60,AEON DEPT-NILAI NILAI MY,Retail outlets,Department Stores,LOCAL,AEON,LOW,268.0
1,3,3-2,08099,MY,08/06/2021,379.50,MEDISAVERS PETALING JAYAMY,Professional services and membership organizat...,Medical Services and Health Practitioners (Not...,LOCAL,,LOW,228.0
2,3,3-2,08099,MY,08/04/2021,379.50,MEDISAVERS PETALING JAYAMY,Professional services and membership organizat...,Medical Services and Health Practitioners (Not...,LOCAL,,LOW,289.0
3,3,3-2,08099,MY,08/05/2021,379.50,MEDISAVERS PETALING JAYAMY,Professional services and membership organizat...,Medical Services and Health Practitioners (Not...,LOCAL,,LOW,259.0
4,3,3-2,08099,MY,08/03/2021,379.50,MEDISAVERS PETALING JAYAMY,Professional services and membership organizat...,Medical Services and Health Practitioners (Not...,LOCAL,,LOW,320.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,26,26-21,,#,24/12/2021,5.50,DIAL-AN-INSTALMENT : 05/06 -INT,Other Expenses,Other Expenses,Invalid,,LOW,29.0
996,26,26-21,05999,#,24/12/2021,385.71,DIAL-AN-INSTALMENT : 05/06,Miscellaneous outlets,Miscellaneous and Specialty Retail Stores,Invalid,,LOW,29.0
997,26,26-21,,#,26/02/2021,30.00,PYMT VIA SA/CA ACCOUNT-THK YOU 0907,Other Expenses,Other Expenses,Invalid,,LOW,330.0
998,26,26-21,,#,28/02/2021,95.60,PYMT VIA SA/CA ACCOUNT-THK YOU 0907,Other Expenses,Other Expenses,Invalid,,LOW,328.0
999,26,26-21,05812,MY,27/02/2021,47.70,WONG SOLO-BANGI B.B.BANGI MY,Miscellaneous outlets,Eating places and Restaurants,LOCAL,,LOW,329.0

In [117]:
# Calculate total transaction group by cust number and account number and show time of last transaction

def get_top_count(df,column):
    return df[column].value_counts().idxmax()
convert_df_str_flt(cc_df,'cust_number')
cc_df_sum = cc_df.groupby(['cust_number']).apply(get_top_count,column='SPEND').reset_index().sort_values('cust_number')
# .agg({'cust_number':'max','TIME':'min','TRANSACTION_AMT':'sum','KEYWORDS':'max','MERCH_RANGE':'max','MERCH_DESC':'max','FOREIGN':'max'})
cc_df_sum = cc_df_sum.reset_index()
cc_df_sum.columns = ['account_number','cust_number','TIME','TRANSACTION_AMT','KEYWORDS','MERCH_RANGE','MERCH_DESC','FOREIGN']
cc_df_sum

ValueError: Length mismatch: Expected axis has 3 elements, new values have 8 elements